/* Tested in Firefox 65 and Chrome 72 */

/* Ensure everything has the same font */
body,
input,
textarea,
select {
  font-family: sans-serif;
  font-size: 1rem;
}

body {
    background-color: #a64f37;
}

article {
    align-items: center;
    background-color: white;
    padding-bottom: 0.5rem;
}
header {
    display:flex;
    align-items: stretch;
    background-color: white;
    margin-bottom: 0.5rem;
}

#logo {
    flex-grow: 0;
    border-style:ridge;
    border-radius: 16px;
}

#web_name {
    flex-grow: 3;
}

#sign_out {
    flex-grow: 1;
    text-align: right;
}

nav {
    top: 0;
    padding:0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    border: solid black;
    padding: 0.8rem;
    width: 168px;
    text-align: center;
    font-weight: bold;
}

#walks_selected {
    border: none;
    border-top: solid black;
}


form {
 
   max-height: inherit;
    max-width: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  
}


fieldset {
  margin-bottom: 0.5rem;
    
}


h3 {
    margin-left: 1rem;
}
#form-group-container {
    display: flex;
    margin: 0.5rem;
  
}
.form-group {
    
    flex-direction: column;
    text-align: center;

  margin: 0.5rem;
}

.form-group input {
    margin: 0.5rem;
    width: 14rem;
    
}

#hidden {
    display: none;
}

.button {
    text-align: right;
    padding: 0.3rem;
    margin-right: 0.5rem;
}

#filter {
   display: flex;
    
}

.filter {
    margin-left: 2rem;
}

#filtering {
    margin-top: 1.3rem;
    margin-left: 1.2rem;    
}

#filtering input {
    padding-left: 0.5rem;
}

#calendar1,
#calendar2 {
    width: 5rem;
}

#examples-area {
 
   max-height: 150rem;
    max-width: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

#sub-examples-area {
    overflow: auto;
    max-height: 500px;
    
}

.examples {
    display: flex;
    border: solid;
    max-height: 140rem;
    max-width: inherit;
    margin: 2rem;
    
}

.data_column {
    margin-right: 2rem;
    margin-left: 2rem;
}

.notes_column {
    margin-right: 2rem;
    margin-left: 1rem;
}

.upper_info {
    padding: 0.5rem;
    border: solid;
    margin-top: 0;
}


.examples_buttons {
    margin-top: 6rem;
   
    
    
}

footer {
    background-color: white;
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}


/* Respond to smaller screens */
@media only screen and (max-width: 620px) {
  /* Put normally inline elements on a new line taking upto the whole width -
     i.e. present like a <div> element */
  .checkbox,
  .prompt {
    display: block;
  }
}
